<div class="info_sub">
    <div class="left">
        <div>
            <a href="https://www.facebook.com/profile.php?id=100044048685682" target="_blank">
                <img src="~/images/mobile/thirdparty_facebook.png" />
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com/idel_._._" target="_blank">
                <img src="~/images/mobile/thirdparty_instagram.png" />
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCgPwsv76IDukqIjssBn7XYw" target="_blank">
                <img src="~/images/mobile/thirdparty_youtube.png" />
            </a>
        </div>
        <div>
            <a href="https://cafe.naver.com/idel1911" target="_blank">
                <img src="~/images/mobile/thirdparty_blog.png" />
            </a>
        </div>
    </div>
    <div class="right">
        <img src="~/images/mobile/map.png" />
        <span>아이델성형외과</span><br />
        <span>서울시 강남구 언주로 856</span><br />
        <span>(신사동 635-2) 남강빌딩</span><br />
        <span><a href="tel:02-3442-5900">02.3442.5900</a></span>
    </div>
    <div style="clear: both;"></div>
    <div class="menu_sub">
        <a href="/information/introduce">병원소개</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/counseling/counseling">온라인상담</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/information/map">오시는길</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">PC버전 보기</a>
    </div>
    <div class="footer-logo">
        <img src="~/images/mobile/logo_sub.png" />
    </div>
    <div class="footer-info">
        <span>서울시 강남구 언주로 856 남강빌딩(신사동 635-2) | 전화 : 02)3442-5900</span><br />
        <span>아이델성형외과의원 | 대표자 : 김대희 | 사업자등록번호 : 762-29-00754</span><br />
        <span>COPYRIGHT&copy; 2019 아이델성형외과. ALL RIGHTS RESERVED.</span>
    </div>
</div>