@{
}

@section Styles {
    <style type="text/css">
        .elastic {
            overflow: auto;
            min-width: 1200px;
        }

        .elastic > div {
            text-align: center;
        }

        .elastic img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="elastic">
    <div>
        <img src="~/images/pc/breast/elastic01.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f9eef2;">
        <img src="~/images/pc/breast/elastic02.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/elastic03.jpg" />
    </div>
    <div style="background-color: #fff6f9;">
        <img src="~/images/pc/breast/elastic04.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/elastic05.jpg" />
    </div>
    <div style="background-color: #fff6f9;">
        <img src="~/images/pc/breast/elastic06.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/elastic07.jpg" />
    </div>
    <div style="background-color: #fef3f7;">
        <img src="~/images/pc/breast/elastic08.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/elastic09.jpg" />
    </div>
    <div style="background-color: #fef3f7;">
        <img src="~/images/pc/breast/elastic10.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/elastic11.jpg" />
    </div>
    <div style="background-color: #fef3f7;">
        <img src="~/images/pc/breast/elastic12.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/elastic13.jpg" />
    </div>
</div>