@{
}

@section Styles {
    <style type="text/css">
        .expansion {
            overflow: auto;
            min-width: 1200px;
        }

        .expansion > div {
            text-align: center;
        }

        .expansion img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="expansion">
    <div>
        <img src="~/images/pc/breast/expansion01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion04.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion06.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion07.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion08.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion09.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion10.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion11.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion12.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion13.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion14.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion15_01.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion15_02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/expansion16.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/expansion17.jpg" />
    </div>
</div>