@{
}

@section Styles {
    <style type="text/css">
        .extra {
            overflow: auto;
            min-width: 1200px;
        }

        .extra img {
            vertical-align: middle;
            width: 100%;
        }
    </style>
}

<div class="extra">
    <img src="~/images/pc/extra/01.jpg" />
    <img src="~/images/pc/extra/02.jpg" />
    <img src="~/images/pc/extra/03.jpg" />
    <img src="~/images/pc/extra/04.jpg" />
    <img src="~/images/pc/extra/05.jpg" />
    <img src="~/images/pc/extra/06.jpg" />
    <img src="~/images/pc/extra/07.jpg" />
    <img src="~/images/pc/extra/08.jpg" />
    <img src="~/images/pc/extra/09.jpg" />
    <img src="~/images/pc/extra/10.jpg" />
</div>