@{
}

@section Styles {
    <style type="text/css">
        .extra {
            overflow: auto;
            min-width: 1200px;
        }

        .extra > div {
            text-align: center;
        }

        .extra img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="extra">
    <div>
        <img src="~/images/pc/extra/01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/extra/02.jpg" />
    </div>
    <div style="background-color: #f5ebf4;">
        <img src="~/images/pc/extra/03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/extra/04.jpg" />
    </div>
    <div style="background-color: #f5ebf4;">
        <img src="~/images/pc/extra/05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/extra/06.jpg" />
    </div>
    <div style="background-color: #f5ebf4;">
        <img src="~/images/pc/extra/07.jpg" />
    </div>
    <div>
        <img src="~/images/pc/extra/08.jpg" />
    </div>
    <div style="background-color: #f5ebf4;">
        <img src="~/images/pc/extra/09.jpg" />
    </div>
    <div>
        <img src="~/images/pc/extra/10.jpg" />
    </div>
</div>