@{
}

@section Styles {
    <style type="text/css">
        .point {
            overflow: auto;
            min-width: 1200px;
        }

        .point > div {
            text-align: center;
        }

        .point img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="point">
    <div>
        <img src="~/images/pc/breast/point01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/breast/point02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/point03.jpg" />
    </div>
    <div style="background-image: url(/images/pc/breast/point04_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/breast/point04.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/point05.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/point06.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/point07.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/breast/point08.jpg" />
    </div>
    <div>
        <img src="~/images/pc/breast/point09.jpg" />
    </div>
</div>