@{
}

@section Styles {
    <style type="text/css">
        .re {
            overflow: auto;
            min-width: 1200px;
        }

        .re > div {
            text-align: center;
        }

        .re img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="re">
    <div><img src="~/images/pc/breast/re01.jpg" style="width: 100%;" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/breast/re02.jpg" /></div>
    <div><img src="~/images/pc/breast/re03.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/breast/re04.jpg" /></div>
    <div><img src="~/images/pc/breast/re05.jpg" /></div>
</div>