
@section Styles {
    <link href="~/css/pc_reservation.css" rel="stylesheet" />
}

<form class="reservation" onsubmit="return doSubmit.call(this);">
    <div class="title">
        <span>온라인 예약</span><br />
        <span>IDEL PLASTIC SURGERY & AESTHETIC</span>
    </div>
    <div class="label">
        1.진료과목 선택
    </div>
    <div class="spliter1"></div>
    <div class="content-category">
        <span>진료과목</span>
        <select name="category">
            <option value="">==상담부위를 선택하세요==</option>
            <option value="가슴성형">가슴성형</option>
            <option value="동안성형">동안성형</option>
            <option value="체형성형">체형성형</option>
            <option value="눈성형">눈성형</option>
            <option value="코성형">코성형</option>
            <option value="안면윤곽">안면윤곽</option>
            <option value="피부과">피부과</option>
        </select>
    </div>
    <div class="spliter2" style="margin-bottom: 40px;"></div>

    <div class="label">
        2.예약일 및 시간 선택
    </div>
    <div class="spliter1"></div>
    <div class="content-calender">
        <input name="datetime" type="hidden" />
        <div class="calender">
            <div class="header">
                <div>
                    <img src="~/images/pc/calender_left.png" onclick="prevCalender();" />
                </div>
                <div>
                    <span class="month">0000.00</span>
                </div>
                <div>
                    <img src="~/images/pc/calender_right.png" onclick="nextCalender();" />
                </div>
            </div>
            <div class="week">
                <div>
                    SUN
                </div>
                <div>
                    MON
                </div>
                <div>
                    TUE
                </div>
                <div>
                    WED
                </div>
                <div>
                    THU
                </div>
                <div>
                    FRI
                </div>
                <div>
                    SAT
                </div>
            </div>
            <div class="day">
            </div>
            <div class="info">
                <div>
                    <span>&nbsp;</span> 예약 가능 날짜
                </div>
                <div>
                    선택일자 &nbsp;&nbsp;&nbsp;
                    <span class="select-date">0000-00-00</span>
                </div>
            </div>
            <div class="call">
                빠른 예약을 원하실 경우 <strong>대표번호 02-3442-5900</strong> 전화부탁드립니다.
            </div>
        </div>
        <div class="time">
            <div class="header">
                예약가능시간
            </div>
            <div class="items">
                <div>10:00</div>
                <div>11:00</div>
                <div>12:00</div>
                <div>13:00</div>
                <div>14:00</div>
                <div>15:00</div>
                <div>16:00</div>
                <div>17:00</div>
                <div>18:00</div>
            </div>
        </div>
    </div>
    <div class="spliter2" style="margin-bottom: 40px;"></div>

    <div class="label">
        3.예약자 정보 입력
    </div>
    <div class="spliter1"></div>
    <div class="content-user">
        <div>
            <div>
                이름
            </div>
            <div>
                <input name="name" type="text" placeholder="이름을 입력하세요" style="width: 200px;" />
            </div>
        </div>
        <div>
            <div>
                휴대폰
            </div>
            <div>
                <input name="phone" type="text" placeholder="휴대폰 번호를 입력하세요" style="width: 200px;" />
                <input name="usecall" id="cbox1" type="checkbox" value="True" />
                <label for="cbox1">전화상담요청</label>
            </div>
        </div>
        <div>
            <div>
                초/재진 구분
            </div>
            <div>
                <input id="radio1" type="radio" name="isfirst" value="True" />
                <label for="radio1">초진</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="radio2" type="radio" name="isfirst" value="False" />
                <label for="radio2">재진</label>
            </div>
        </div>
        <div>
            <div>
                내원경로
            </div>
            <div>
                <select name="channel">
                    <option value="인터넷">인터넷</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                내용
            </div>
            <div>
                <textarea name="content"></textarea>
                <br />
                <input name="isprivacy" id="cbox2" type="checkbox" />
                <label for="cbox2">개인정보동의</label>
                <a href="/policy.html" target="_blank">[자세히보기]</a>
            </div>
        </div>
    </div>
    <div class="content-control">
        <button type="submit">진료예약하기</button>
        <button type="reset">취소</button>
    </div>
</form>

@section Scripts {
    <script>

        var currentDate = new Date();
        var selectDate = null;
        var selectTime = null;

        $(window).on('load', function () {
            initEvent();
            initCalender();
        });

        function initEvent() {
            $('.reservation .content-calender .time .items > div').on('click', selectedTime);
        }

        function initCalender(newDate) {
            var date = undefined;

            if (newDate === undefined || newDate === null)
                date = new Date();
            else
                date = newDate;

            var date1 = new Date(date.getFullYear(), date.getMonth(), 1);
            currentDate = date1;

            var year = date1.getFullYear();
            var month = date1.getMonth() + 1;

            if (month < 10)
                month = '0' + month;

            $('.calender .month').text(year + '.' + month)

            $('.calender .day').children().remove();
            for (var i = 0; i < date1.getDay(); i++) {
                $('.calender .day').append('<div>&nbsp;</div>');
            }

            date1.setMonth(date1.getMonth() + 1)
            date1.setDate(date1.getDate() - 1);

            var lastDate = date1.getDate();
            var now = new Date();

            for (var i = 1; i <= lastDate; i++) {
                var insertDate = new Date(date1.getFullYear(), date1.getMonth(), i);

                var dayText = i < 10 ? '0' + i : i;

                if (insertDate.getDay() !== 0 && insertDate > now) {
                    if (selectDate !== null && insertDate.getTime() === selectDate.getTime()) {
                        $('.calender .day').append('<div class="free"><span class="active">' + dayText + '</span></div>');
                    }
                    else {
                        $('.calender .day').append('<div class="free"><span>' + dayText + '</span></div>');
                    }
                }
                else {
                    $('.calender .day').append('<div><span>' + dayText + '</span></div>');
                }
            }

            $('.calender .day > div').on('click', function () {
                var date = $(this).find('span').text();
                selectDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), parseInt(date));

                if (selectDate <= new Date() || selectDate.getDay() === 0) {
                    alert('예약할 수 없는 날짜입니다.');
                    return;
                }

                var year = selectDate.getFullYear();
                var month = selectDate.getMonth() + 1;
                var day = selectDate.getDate();

                if (month < 10)
                    month = '0' + month;
                if (day < 10)
                    day = '0' + day;

                $('.calender .info .select-date').text(year + '-' + month + '-' + day);
                $('.calender .day > div > span.active').removeClass('active');
                $(this).find('span').addClass('active');
            });
        }

        function selectedTime() {
            selectTime = $(this).text();
            $('.reservation .content-calender .time .items > div.active').removeClass('active');
            $(this).addClass('active');
        }

        function prevCalender() {
            var prevDate = new Date(currentDate.getFullYear(), currentDate.getMonth() - 1);
            initCalender(prevDate);
        }

        function nextCalender() {
            var nextDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1);
            initCalender(nextDate);
        }

        function doSubmit() {
            try {

                if ($('select[name=category]').val() === '') {
                    alert('진료과목을 선택하세요');
                    return false;
                }

                if (selectDate === null) {
                    alert('예약일을 선택하세요');
                    return false;
                }

                if (selectTime === null) {
                    alert('예약시간을 선택하세요');
                    return false;
                }

                if ($('input[name=name]').val().trim() === '') {
                    alert('이름을 입력하세요');
                    return false;
                }

                if ($('input[name=phone]').val().trim() === '') {
                    alert('휴대폰 번호를 입력하세요');
                    return false;
                }

                if ($('input[name=isfirst]:checked').val() === undefined ||
                    $('input[name=isfirst]:checked').val() === null) {
                    alert('초/재진 구분을 선택하세요');
                    return false;
                }

                if ($('select[name=channel]').val().trim() === '') {
                    alert('내원경로를 선택하세요');
                    return false;
                }

                if ($('textarea[name=content]').val().trim() === '') {
                    alert('내용을 입력하세요');
                    return false;
                }

                if (!$('input[name=isprivacy]').prop('checked')) {
                    alert('개인정보 취급방침에 동의해야 합니다.');
                    return false;
                }

                selectDate = new Date();

                var year = selectDate.getFullYear();
                var month = selectDate.getMonth() + 1;
                var day = selectDate.getDate();

                $('input[name=datetime]').val(year + '-' + month + '-' + day + 'T' + selectTime);

                $.ajax({
                    url: '/counseling/reservation',
                    method: 'post',
                    contentType: false,
                    processData: false,
                    data: new FormData(this)
                }).always(function (data, status, xhr) {
                    if (status !== 'success') {
                        alert('잠시 후에 다시 시도해 주세요');
                    }
                    else if (!data.status) {
                        alert(data.message);
                    }
                    else {
                        alert('진료 예약이 신청되었습니다.');
                    }
                });
            } catch (e) {
                console.log(e);
            }

            return false;
        }
    </script>
}