@{
}

@section Styles {
    <style type="text/css">
        .eyere {
            overflow: auto;
            min-width: 1200px;
        }

        .eyere > div {
            text-align: center;
        }

        .eyere img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="eyere">
    <div>
        <img src="~/images/pc/eye/eyere01.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/eye/eyere02.jpg" />
    </div>
    <div>
        <img src="~/images/pc/eye/eyere03.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/eye/eyere04.jpg" />
    </div>
</div>