@{
}

@section Styles {
    <style type="text/css">
        .idel {
            overflow: auto;
            min-width: 1200px;
        }

        .idel > div {
            text-align: center;
        }

        .idel img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="idel">
    <div><img src="~/images/pc/eye/idel01.jpg" style="width: 100%;" /></div>
    <div><img src="~/images/pc/eye/idel02.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/eye/idel03.jpg" /></div>
    <div><img src="~/images/pc/eye/idel04.jpg" /></div>
    <div><img src="~/images/pc/eye/idel05.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/eye/idel06.jpg" /></div>
    <div><img src="~/images/pc/eye/idel07.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/eye/idel08.jpg" /></div>
    <div style="background-image: url(/images/pc/eye/idel09_bg.jpg); background-repeat: repeat-x; background-size: contain;"><img src="~/images/pc/eye/idel09.jpg" /></div>
    <div><img src="~/images/pc/eye/idel10.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/eye/idel11.jpg" /></div>
    <div><img src="~/images/pc/eye/idel12.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/eye/idel13.jpg" /></div>
</div>