
@section Styles {
    <style type="text/css">
        .young {
            min-width: 1200px;
        }

        .young > div {
            text-align: center;
        }

        .young img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="young">
    <div><img src="~/images/pc/eye/young01.jpg" style="width: 100%;"/></div>
    <div><img src="~/images/pc/eye/young02.jpg" /></div>
    <div style="background-color: #fbe5e7;"><img src="~/images/pc/eye/young03.jpg" /></div>
    <div><img src="~/images/pc/eye/young04.jpg" /></div>
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young05.jpg" /></div>
    <div><img src="~/images/pc/eye/young06.jpg" /></div>m
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young07.jpg" /></div>
    <div><img src="~/images/pc/eye/young08.jpg" /></div>
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young09.jpg" /></div>
    <div><img src="~/images/pc/eye/young10.jpg" /></div>
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young11.jpg" /></div>
    <div><img src="~/images/pc/eye/young12.jpg" /></div>
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young13.jpg" /></div>
    <div><img src="~/images/pc/eye/young14.jpg" /></div>
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young15.jpg" /></div>
    <div><img src="~/images/pc/eye/young16.jpg" /></div>
    <div style="background-color: #ffefef;"><img src="~/images/pc/eye/young17.jpg" /></div>
</div>