@{
    ViewData["Title"] = "Notice Detail Page";


}

@section Styles {
    <environment include="Development">
        <link href="~/css/community.css" rel="stylesheet" />
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/community.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/community.min.js"></script>
    </environment>
}

<div class="communityDetail">
    <div class="contentArea">
        <form>
            <div class="itemLine">
                <div>
                    <span>제 목</span>
                </div>
                <div>
                    <div class="textData">
                        <input type="text" value="" />
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                </div>
                <div>
                    <div class="thumbnailArea">
                        <span>썸네일</span>
                    </div>
                    <div class="originArea">
                        <span>내용 이미지</span>
                    </div>
                </div>
            </div>
            <div class="itemLine">
                <div>
                    <span>P C</span>
                </div>
                <div>
                    <div class="thumbnailArea">
                        <img alt="썸네일 미리보기" />
                        <button>
                            <span>파일선택</span>
                        </button>
                    </div>
                    <div class="originArea">
                        <img alt="썸네일 미리보기" />
                        <button>
                            <span>파일선택</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="itemLine">
                <div>
                    <span>Mobile</span>
                </div>
                <div>
                    <div class="thumbnailArea">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                    <div class="originArea">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                    <div>
                        <span>페이지 링크</span>
                    </div>
                </div>
                <div>
                    <div class="textData">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <input class="submit" type="submit" value="삭 제" />
                <input class="submit" type="submit" value="등 록" />
            </div>
        </form>
    </div>
</div>