@{ 
    Layout = "/Views/Shared/_LandingLayout.cshtml";
}
@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 1400px;
            font-family: 'Nanum Gothic', sans-serif;
        }

        input, select, textarea {
            font-family: 'Nanum Gothic', sans-serif;
        }

        .content > img {
            width: 100%;
            vertical-align: top;
        }

        img.bg {
            width: 100%;
            vertical-align: top;
        }

        img.naver {
            position: fixed;
            right: 50px;
            bottom: 250px;
            width: 80px;
            height: 80px;
        }

        img.instagram {
            position: fixed;
            right: 50px;
            bottom: 150px;
            width: 80px;
            height: 80px;
        }

        img.facebook {
            position: fixed;
            right: 50px;
            bottom: 50px;
            width: 80px;
            height: 80px;
        }

        .info {
            padding: 4% 10%;
            background-color: #efd3d2;
        }

        .info > .title {
            text-align: center;
            margin-bottom: 5%;
        }

        .info > .title > img {
            width: 77%;
        }

        .info > .buttons {
            overflow : auto;
            margin-bottom: 6%;
        }

        .info > .buttons > img {
            width: 20%;
            cursor: pointer;
            float: left;
        }

        .info > .subscript {
            background-color: #feeaeb;
        }

        .info > .subscript > img {
            width: 100%;
        }

        .request {
            background-color: #4f1521;
            padding: 10% 13%;
        }

        .request > form > table {
            width: 1400px;
            margin: 0 auto;
        }

        .request .requestButton {
            background-color: #782131;
            color: white;
            border: none;
            width: 100%;
            height: 70px;
            font-size: 24px;
        }
    </style>
}

<div>
    <div class="content">
        <img src="~/images/pc/01.jpg" />
        <img src="~/images/pc/02.jpg" />
        <img src="~/images/pc/03.jpg" />
        <div class="info">
            <div class="title">
                <img src="~/images/pc/04_02_text.png" />
            </div>
            <div class="buttons">
                <img src="~/images/pc/04_03.png" onclick="showSubscript(1);" />
                <img src="~/images/pc/04_04.png" onclick="showSubscript(2);" />
                <img src="~/images/pc/04_05.png" onclick="showSubscript(3);" />
                <img src="~/images/pc/04_06.png" onclick="showSubscript(4);" />
                <img src="~/images/pc/04_07.png" onclick="showSubscript(5);" />
            </div>
            <div class="subscript">
                <img src="~/images/pc/04_08_subscript.png" />
            </div>
        </div>
        <img src="~/images/pc/05.jpg" />
        <img src="~/images/pc/06.jpg" />
        <img src="~/images/pc/07.jpg" />
        <div class="request">
            <form onsubmit="submitData.call(this); return false;">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="width: 262px; vertical-align: middle;">
                            <img style="width: 100%;" src="~/images/pc/08_01.png" />
                        </td>
                        <td style="vertical-align: middle;">

                            <table cellpadding="0" cellspacing="10" style="width: 100%; color: white; font-size: 20px;">
                                <tr>
                                    <td style="text-align: right;">
                                        이름
                                    </td>
                                    <td>
                                        <input name="username" style="font-size: 20px; width: 240px; padding: 5px 7px; box-sizing: border-box;" placeholder="이름을 입력하세요" />
                                    </td>
                                    <td style="text-align: right; width: 100px;">
                                        &nbsp;
                                    </td>
                                    <td style="text-align: right;">
                                        휴대폰
                                        <select name="phone1" style="font-size: 20px; padding: 5px 7px; box-sizing: border-box;">
                                            <option>010</option>
                                            <option>011</option>
                                            <option>016</option>
                                            <option>017</option>
                                        </select>
                                        -
                                        <input name="phone2" style="font-size: 20px; width: 100px; padding: 5px 7px; box-sizing: border-box;" />
                                        -
                                        <input name="phone3" style="font-size: 20px; width: 100px; padding: 5px 7px; box-sizing: border-box;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; vertical-align: top;">
                                        상담내용
                                    </td>
                                    <td colspan="3">
                                        <textarea name="question" style="padding: 10px; box-sizing: border-box; font-size: 20px; width: 100%; height: 140px; resize: none; box-sizing: border-box;" placeholder="굼금하신 점을 적어 주세요 ^^"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td colspan="3">
                                        <input name="confirmpolicy" id="policyCheck" type="checkbox" style="width: 20px; height: 20px; vertical-align: text-bottom;" value="True" />
                                        <label for="policyCheck">
                                            개인정보 수집동의
                                        </label>
                                        <a href="~/policy.html" target="_blank" style="color: white;">[자세히보기]</a>
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td style="width: 150px; vertical-align: middle;">
                            <button type="submit" class="requestButton">상담신청</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <img src="~/images/pc/09.jpg" />
    </div>

    <a href="https://cafe.naver.com/idel1911" target="_blank">
        <img class="naver" src="~/images/naver_circle-512.png" />
    </a>
    <a href="https://www.instagram.com/idel_._._" target="_blank">
        <img class="instagram" src="~/images/instagram_circle-512.png" />
    </a>
    <a href="https://www.facebook.com/profile.php?id=100044048685682" target="_blank">
        <img class="facebook" src="~/images/facebook_circle-512.png" />
    </a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(initPage);

        function initPage() {
            //var title = encodeURI('휴진안내');
            //var img = encodeURI('/images/popup/2020011601.jpg');
            //window.open('/Home/Popup?title=' + title + '&img=' + img, 'popup01', 'left=0,top=0,width=450,height=450');
        }

        function showSubscript(idx) {
            switch (idx) {
                case 1:
                    document.querySelector('.subscript > img').src = '/images/pc/04_09_subscript.png';
                    break;
                case 2:
                    document.querySelector('.subscript > img').src = '/images/pc/04_10_subscript.png';
                    break;
                case 3:
                    document.querySelector('.subscript > img').src = '/images/pc/04_11_subscript.png';
                    break;
                case 4:
                    document.querySelector('.subscript > img').src = '/images/pc/04_12_subscript.png';
                    break;
                case 5:
                    document.querySelector('.subscript > img').src = '/images/pc/04_13_subscript.png';
                    break;
                default:
                    document.querySelector('.subscript > img').src = '/images/pc/04_08_subscript.png';
                    break;
            }
        }

        function submitData() {
            try {
                $.ajax({
                    url: '/Home/RequestAdd',
                    method: 'post',
                    processData: false,
                    contentType: false,
                    data: new FormData(this)
                }).always(function (data, status, xhr) {
                    if (status !== 'success') {
                        alert('서버 접속에 실패했습니다.');
                    }
                    else if (!data.status) {
                        if (data.message) {
                            alert(data.message);
                        }
                        else {
                            alert('상담신청 접수가 되지 않았습니다.\r\n관리자에게 문의해 주시기 바랍니다.');
                        }
                    }
                    else {
                        alert('상담신청이 접수되었습니다.');
                    }
                });
            } catch (e) {

            }
        }
    </script>
}