@section Styles {
    @*<link href="/css/site.css" rel="stylesheet" />*@
    <link href="/lib/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/lib/owl-carousel/owl.theme.min.css" rel="stylesheet" />
}

<div class="main-slide">
    <div>
        <img src="~/images/pc/mainslide/image01.jpg" />
    </div>
    <div>
        <img src="~/images/pc/mainslide/image01.jpg" />
    </div>
</div>
<div class="youtube">
    <div class="logo">
        <img src="/images/logo_youtube.png" />
    </div>
    <div class="video-main">
        <div class="video">

        </div>
        <div class="info">
            <span>IDEL TV</span> <br />
            <span>아름다움의 시작이 되는 아이델 성형외과</span> <br />
            <a href="#">VIEW MORE +</a>
        </div>
    </div>
    <div class="video-sub">
        <div class="video">

        </div>
        <div class="info">
            <span>Dr. kim FAQ MEDIA</span> <br />
            <span>김대희원장의 성형수술 FAQ</span>
        </div>

        <div class="video">

        </div>
        <div class="info">
            <span>Before & After</span> <br />
            <span>김대희원장의 성형수술 FAQ</span>
        </div>
    </div>
</div>
<div class="instagram">
    <div class="logo">
        <img src="/images/logo_instagram.png" />
    </div>
    <div class="items">
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76740072_599037694016938_1602429183758647705_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=EreIvflMlqQAX98h67l&oh=8c78d10234d22841ab4f88e857f0f8ca&oe=5E944030" />
        </div>
        <div class="item">
            <img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80519886_2505742329524510_7265702708480359130_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=rEOGd9OzZiQAX9-F_CW&oh=ab790c3b4ec56a465e322b7730ab1618&oe=5EA14B03" />
        </div>
    </div>
</div>
<div class="story">
    <div class="logo">
        <img src="~/images/pc/logo_story.png" />
    </div>
    <div class="content">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td rowspan="2">
                    <img src="~/images/pc/story/image01.jpg" />
                </td>
                <td colspan="3">
                    <img src="~/images/pc/story/image02.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/pc/story/image03.jpg" />
                </td>
                <td>
                    <img src="~/images/pc/story/image04.jpg" />
                </td>
                <td>
                    <img src="~/images/pc/story/image05.jpg" />
                </td>
            </tr>
        </table>
    </div>
</div>
<form class="question" onsubmit="return sendQuestionForm.call(this);">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 245px;">
                <img src="~/images/pc/logo_question.png" />
            </td>
            <td>

                <table id="questionDataTable">
                    <tr>
                        <td>
                            이름
                        </td>
                        <td>
                            <input name="username" style="width: 150px;" />
                        </td>
                        <td>
                            휴대폰
                        </td>
                        <td>
                            <select name="phone1" style="width: 80px;">
                                <option value="">선택</option>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                            -
                            <input name="phone2" style="width: 80px;" />
                            -
                            <input name="phone3" style="width: 80px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            상담내용
                        </td>
                        <td colspan="3">
                            <textarea name="question" placeholder="궁금하신 점을 적어 주세요. ^^"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td colspan="3">
                            <input name="confirmpolicy" id="checkbox" type="checkbox" value="True" />
                            <label for="checkbox">개인정보수집동의</label>
                            <a href="#">[자세히보기]</a>
                        </td>
                    </tr>
                </table>

            </td>
            <td style="width: 242px;">
                <button>상담신청</button>
            </td>
        </tr>
    </table>
</form>
<div class="information">
    <div class="content">
        <div class="left">
            <div>LOCATION</div>
            <div>아이델성형외과</div>
            <div>서울시 강남구 언주로 856 (신사동 635-2) 남강빌딩</div>
            <div>
                지하철 3호선 압구정역 2번 출구 성수대교 남단(압구정 로데오) 사거리 방면<br />
                지하철 분당선 압구정로데오역 6번 출구 성수대교 남단(압구정) 방면
            </div>
            <div>02.3442.5900</div>
        </div>
        <div class="right">
            <img src="~/images/pc/map.jpg" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src='https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js'></script>

    <script type="text/javascript">
        $(document).ready(initPage);

        function initPage() {
            $('.main-slide').owlCarousel({
                singleItem: true,
                autoPlay: 3000,
                stopOnHover: true,
            });

            //var title = encodeURI('휴진안내');
            //var img = encodeURI('/images/popup/2020011601.jpg');
            //window.open('/Home/Popup?title=' + title + '&img=' + img, 'popup01', 'left=0,top=0,width=450,height=450');

            initSnowFlakes();
        }

        function initSnowFlakes() {
            var sf = new Snowflakes({
                color: '#ffffff',
                count: 200,
                speed: 1,
                minSize: 5,
                maxSize: 18,
                wind: false
            });
        }

        function sendQuestionForm() {
            try {
                $.ajax({
                    url: '/home/requestadd',
                    method: 'post',
                    contentType: false,
                    processData: false,
                    data: new FormData(this)
                }).always(function (data, status, xhr) {
                    if (status !== 'success') {
                        alert('서버와의 통신이 실패했습니다.');
                    }
                    else if (!data.status) {
                        if (data.message) {
                            alert(data.message);
                        }
                        else {
                            alert('서버와의 통신이 실패했습니다.');
                        }
                    }
                    else {
                        alert('신청이 접수되었습니다.');
                    }
                });
            } catch (e) {
                console.log(e);
            }

            return false;
        }
    </script>
}
