@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body style="margin: 0; padding: 0">
    <img src="@ViewBag.Image" alt="#" style="width: 100%;" />
</body>
</html>