@{
}

@section Styles {
    <style type="text/css">
        .hip {
            overflow: auto;
            min-width: 1200px;
        }

        .hip > div {
            text-align: center;
        }

        .hip img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="hip">
    <div>
        <img src="~/images/pc/body/hip01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/body/hip02.jpg" />
    </div>
    <div style="background-color: #f5e7e6;">
        <img src="~/images/pc/body/hip03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/body/hip04.jpg" />
    </div>
    <div style="background-color: #f5e7e6;">
        <img src="~/images/pc/body/hip05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/body/hip06.jpg" />
    </div>
    <div style="background-color: #f5e7e6;">
        <img src="~/images/pc/body/hip07.jpg" />
    </div>
</div>