@{
}

@section Styles {
    <style type="text/css">
        .liposuction {
            overflow: auto;
            min-width: 1200px;
        }

        .liposuction > div {
            text-align: center;
        }

        .liposuction img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="liposuction">
    <div>
        <img src="~/images/pc/body/liposuction01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/body/liposuction02.jpg" />
    </div>
    <div style="background-color: #fcf7d7;">
        <img src="~/images/pc/body/liposuction03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/body/liposuction04.jpg" />
    </div>
    <div style="background-color: #fcf7d7;">
        <img src="~/images/pc/body/liposuction05.jpg" />
    </div>
</div>