@{
    ViewData["Title"] = "Counseling Index Page";
  

}

@section Styles {
    <environment include="Development">
        <link href="~/css/community.css" rel="stylesheet" />
    </environment>
}
<div class="body">

</div>