@{
}

@section Styles {
    <style type="text/css">
        .idel {
            overflow: auto;
            min-width: 1200px;
        }

        .idel > div {
            text-align: center;
        }

        .idel img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="idel">
    <div><img src="~/images/pc/faceline/idel01.jpg" style="width: 100%;" /></div>
    <div><img src="~/images/pc/faceline/idel02.jpg" /></div>
    <div style="background-color: #f1f0ee;"><img src="~/images/pc/faceline/idel03.jpg" /></div>
    <div><img src="~/images/pc/faceline/idel04.jpg" /></div>
    <div style="background-color: #f1f0ee;"><img src="~/images/pc/faceline/idel05.jpg" /></div>
    <div><img src="~/images/pc/faceline/idel06.jpg" /></div>
    <div style="background-color: #f1f0ee;"><img src="~/images/pc/faceline/idel07.jpg" /></div>
    <div><img src="~/images/pc/faceline/idel08.jpg" /></div>
    <div style="background-color: #f1f0ee;"><img src="~/images/pc/faceline/idel09.jpg" /></div>
    <div><img src="~/images/pc/faceline/idel10.jpg" /></div>
    <div style="background-color: #f1f0ee;"><img src="~/images/pc/faceline/idel11.jpg" /></div>
    <div><img src="~/images/pc/faceline/idel12.jpg" /></div>
    <div style="background-color: #f1f0ee;"><img src="~/images/pc/faceline/idel13.jpg" /></div>
    <div><img src="~/images/pc/faceline/idel14.jpg" /></div>
</div>