@{
}

@section Styles {
    <style type="text/css">
        .young {
            overflow: auto;
            min-width: 1200px;
        }

        .young > div {
            text-align: center;
        }

        .young img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="young">
    <div><img src="~/images/pc/faceline/young01.jpg" style="width: 100%;" /></div>
    <div><img src="~/images/pc/faceline/young02.jpg" /></div>
    <div style="background-color: #fde7cf;"><img src="~/images/pc/faceline/young03.jpg" /></div>
    <div><img src="~/images/pc/faceline/young04.jpg" /></div>
    <div style="background-color: #fde7cf;"><img src="~/images/pc/faceline/young05.jpg" /></div>
    <div><img src="~/images/pc/faceline/young06.jpg" /></div>
    <div style="background-color: #fde7cf;"><img src="~/images/pc/faceline/young07.jpg" /></div>
    <div><img src="~/images/pc/faceline/young08.jpg" /></div>
    <div style="background-color: #fde7cf;"><img src="~/images/pc/faceline/young09.jpg" /></div>
    <div><img src="~/images/pc/faceline/young10.jpg" /></div>
    <div style="background-color: #fde7cf;"><img src="~/images/pc/faceline/young11.jpg" /></div>
    <div><img src="~/images/pc/faceline/young12.jpg" /></div>
    <div style="background-color: #fde7cf;"><img src="~/images/pc/faceline/young13.jpg" /></div>
</div>