@{
    ViewData["Title"] = "Main Page";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    }

    <div class="main">
        <div class="categolyBtn">
            <div class="slideBtn"></div>
            <div class="utubeBtn"></div>
            <div class="instaBtn"></div>
        </div>
        <div class="mLine" />
        <div class="content">
            <div class="list"></div>
            <div class="pageBtn"></div>
        </div>
    </div>
