img {
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
}

.idelstar-list {
    background-color: #ffffff;
    color: #000000;
    min-width: 1200px;
}

.idelstar-list .title {
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}

.idelstar-list .title span:first-child {
    font-size: 70px;
    font-weight: bold;
}

.idelstar-list .title span:last-child {
    font-size: 25px;
}

.idelstar-list .content {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.idelstar-list .content > a > div {
    float: left;
    width: 33.33%;
    margin-bottom: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
}

.idelstar-list .content .thumbnail {
    background-color: #c76b5e;
}

.idelstar-list .content .thumbnail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.idelstar-list .content .info {
    background-color: #272727;
    padding: 40px 24px;
}

.idelstar-list .content .info > div {
    text-align: center;
}

.idelstar-list .content .info > div:nth-of-type(1) {
    overflow: hidden;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.idelstar-list .content .info > div:nth-of-type(2) {
    padding: 35px 0;
}

.idelstar-list .content .info > div:nth-of-type(3) {
    font-size: 20px;
}

.pager {
    background-color: #fff;
    padding: 60px 0;
    color: black;
    text-align: center;
}

.pager .paging {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pager .paging a {
    display: inline-block;
    border: 1px solid #131313;
    min-width: 30px;
    font-size: 20px;
    margin: 0 2px;
    padding: 0 7px;
    box-sizing: border-box;
}

.pager .paging a.active {
    background-color: #131313;
    color: white;
}

.pager .search {
    display: inline-flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pager .search select,
.pager .search input,
.pager .search button {
    font-size: 18px;
    height: 34px;
    padding: 0;
    box-sizing: border-box;
}

.pager .search select {
    margin-right: 5px;
}

.pager .search input {
    width: 200px;
    padding: 0 7px;
}

.pager .search button {
    width: 70px;
    background-color: #a6a6a6;
    color: white;
    border: none;
    outline: none;
}

.no-content {
    text-align: center;
    font-size: 30px;
    padding: 0 0 80px 0;
}

.idelstar-detail {
    padding: 100px 0;
}

.idelstar-detail > div {
    width: 1200px;
    margin: 0 auto;
    color: #454545;
}

.idelstar-detail .spliter1 {
    height: 0;
    border-top: 2px solid #888888;
}

.idelstar-detail .spliter2 {
    height: 0;
    border-top: 1px solid #c4c7ca;
}

.idelstar-detail .date {
    font-size: 18px;
    padding: 30px 20px 20px 20px;
}

.idelstar-detail .title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 30px 20px;
}

.idelstar-detail .content {
    padding: 40px;
    text-align: center;
}

.idelstar-detail .content img {
    max-width: 100%;
}

.idelstar-detail .control-pannel {
    text-align: center;
}

.idelstar-detail .control-pannel button {
    font-size: 18px;
    width: 130px;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    background-color: #5b5b5b;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}