@{
    ViewData["Title"] = "BeforeAfter Detail Page";


}

@section Styles {
    <environment include="Development">
        <link href="~/css/beforeAfter.css" rel="stylesheet" />
    </environment>
}
<div class="beforeAfterDetail">
    <div class="contentArea">
        <form>
            <div class="itemLine">
                <div>
                    <span>제 목</span>
                </div>
                <div>
                    <div class="textData">
                        <input type="text" value="" />
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine categoly">
                <div>
                    <span>카테고리 선택</span>
                </div>
                <div>
                    <select name="categolyItems" onchange="">
                        <option value="가슴성형">가슴성형</option>
                        <option value="동안성형">동안성형</option>
                        <option value="체형성형">체형성형</option>
                        <option value="눈성형">눈성형</option>
                        <option value="코성형">코성형</option>
                        <option value="안면윤곽">안면윤곽</option>
                        <option value="피부과">피부과</option>
                    </select>
                </div>
                <div>
                    <span>코멘트</span>
                </div>
                <div>
                    <div class="textData">
                        <input type="text" value="" />
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <div>
                </div>
                <div>
                    <div class="front">
                        <span>정면</span>
                    </div>
                    <div class="degrees45">
                        <span>45도</span>
                    </div>
                    <div class="side">
                        <span>측면</span>
                    </div>
                </div>
            </div>
            <div class="itemLine">
                <div>
                    <span>P C</span>
                </div>
                <div>
                    <div class="front">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                    <div class="degrees45">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                    <div class="side">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="itemLine">
                <div>
                    <span>Mobile</span>
                </div>
                <div>
                    <div class="front">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                    <div class="degrees45">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                    <div class="side">
                        <img alt="썸네일 미리보기" />
                        <input type="hidden" value="" />
                        <button onclick="">
                            <span>파일선택</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="splitLine"></div>
            <div class="itemLine">
                <input class="submit" type="submit" value="삭 제" />
                <input class="submit" type="submit" value="등 록" />
            </div>
        </form>
    </div>
</div>