@{
    ViewData["Title"] = "Community Page";
  

}

@section Styles {
    <environment include="Development">
        <link href="~/css/BeforeAfter.css" rel="stylesheet" />
    </environment>
}
<div class="beforeAfter">

</div>