
@section Styles {
    <style type="text/css">
        .acne {
            min-width: 1200px;
        }

        .acne > div {
            text-align: center;
        }

        .acne img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="acne">
    <div><img src="~/images/pc/skin/acne01.jpg" style="width: 100%;" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/skin/acne02.jpg" /></div>
    <div><img src="~/images/pc/skin/acne03.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/skin/acne04.jpg" /></div>
    <div><img src="~/images/pc/skin/acne05.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/skin/acne06.jpg" /></div>
    <div><img src="~/images/pc/skin/acne07.jpg" /></div>
    <div style="background-color: #f9f9f9;"><img src="~/images/pc/skin/acne08.jpg" /></div>
</div>