@{
}

@section Styles {
    <style type="text/css">
        .innerterafi {
            overflow: auto;
            min-width: 1200px;
        }

        .innerterafi > div {
            text-align: center;
        }

        .innerterafi img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="innerterafi">
    <div>
        <img src="~/images/pc/skin/innerterafi01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/skin/innerterafi02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/innerterafi03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/innerterafi04.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/innerterafi05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/innerterafi06.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/innerterafi07.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/innerterafi08.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/innerterafi09.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/innerterafi10.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/innerterafi11.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/innerterafi12.jpg" />
    </div>
</div>