@{
}

@section Styles {
    <style type="text/css">
        .lifting {
            overflow: auto;
            min-width: 1200px;
        }

        .lifting > div {
            text-align: center;
        }

        .lifting img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="lifting">
    <div>
        <img src="~/images/pc/skin/lifting01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/skin/lifting02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/lifting03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/lifting04.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/lifting05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/lifting06.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/lifting07.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/lifting08.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/lifting09.jpg" />
    </div>
</div>