
@{
}

@section Styles {
    <style type="text/css">
        .obesityinject {
            overflow: auto;
            min-width: 1200px;
        }

        .obesityinject > div {
            text-align: center;
        }

        .obesityinject img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="obesityinject">
    <div>
        <img src="~/images/pc/skin/obesityinject01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject02.jpg" />
    </div>
    <div style="background-color: #e8ebfe;">
        <img src="~/images/pc/skin/obesityinject03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject04.jpg" />
    </div>
    <div style="background-color: #e8ebfe;">
        <img src="~/images/pc/skin/obesityinject05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject06.jpg" />
    </div>
    <div style="background-color: #e8ebfe;">
        <img src="~/images/pc/skin/obesityinject07.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject08.jpg" />
    </div>
    <div style="background-color: #e8ebfe;">
        <img src="~/images/pc/skin/obesityinject09.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject10.jpg" />
    </div>
    <div style="background-color: #e8ebfe;">
        <img src="~/images/pc/skin/obesityinject11.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject12.jpg" />
    </div>
    <div style="background-color: #e8ebfe;">
        <img src="~/images/pc/skin/obesityinject13.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/obesityinject14.jpg" />
    </div>
</div>