@{
}

@section Styles {
    <style type="text/css">
        .putty {
            overflow: auto;
            min-width: 1200px;
        }

        .putty > div {
            text-align: center;
        }

        .putty img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="putty">
    <div>
        <img src="~/images/pc/skin/putty01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/skin/putty02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/putty03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/putty04.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/putty05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/putty06.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/putty07.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/putty08.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/putty09.jpg" />
    </div>
</div>