@{
}

@section Styles {
    <style type="text/css">
        .recovery {
            overflow: auto;
            min-width: 1200px;
        }

        .recovery > div {
            text-align: center;
        }

        .recovery img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="recovery">
    <div>
        <img src="~/images/pc/skin/recovery01.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/recovery02.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/recovery03_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/recovery03.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/recovery04_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/recovery04.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/recovery05_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/recovery05.jpg" />
    </div>
</div>