
@{
}

@section Styles {
    <style type="text/css">
        .scalp {
            overflow: auto;
            min-width: 1200px;
        }

        .scalp > div {
            text-align: center;
        }

        .scalp img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="scalp">
    <div>
        <img src="~/images/pc/skin/scalp01.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/scalp02.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/scalp03.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/scalp04.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/scalp05_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/scalp05.jpg" />
    </div>
    <div>
        <img src="~/images/pc/skin/scalp06.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/scalp07.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/scalp08_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/scalp08.jpg" />
    </div>
</div>