
@{
}

@section Styles {
    <style type="text/css">
        .white {
            overflow: auto;
            min-width: 1200px;
        }

        .white > div {
            text-align: center;
        }

        .white img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="white">
    <div>
        <img src="~/images/pc/skin/white01.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/skin/white02.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/white03_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/white03.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/white04_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/white04.jpg" />
    </div>
    <div style="background-image: url(/images/pc/skin/white05_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/skin/white05.jpg" />
    </div>
</div>