
@section Styles {
    <style type="text/css">
        .fat {
            min-width: 1200px;
        }

        .fat > div {
            text-align: center;
        }

        .fat img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="fat">
    <div>
        <img src="~/images/pc/face/01transplantation-of-fat.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f4f4fc;">
        <img src="~/images/pc/face/02transplantation-of-fat.jpg" />
    </div>
    <div>
        <img src="~/images/pc/face/03transplantation-of-fat.jpg" />
    </div>
    <div style="background-image: url(/images/pc/face/04transplantation-of-fat_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/face/04transplantation-of-fat.jpg" />
    </div>
    <div>
        <img src="~/images/pc/face/05transplantation-of-fat.jpg" />
    </div>
</div>