
@section Styles {
    <style type="text/css">
        .hair {
            min-width: 1200px;
        }

        .hair > div {
            text-align: center;
        }

        .hair img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="hair">
    <div>
        <img src="~/images/pc/face/hair01.jpg" style="width: 100%;" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/face/hair02.jpg" />
    </div>
    <div>
        <img src="~/images/pc/face/hair03.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/face/hair04.jpg" />
    </div>
    <div>
        <img src="~/images/pc/face/hair05.jpg" />
    </div>
</div>