@{
}

@section Styles {
    <style type="text/css">
        .idellifting {
            overflow: auto;
            min-width: 1200px;
        }

        .idellifting > div {
            text-align: center;
        }

        .idellifting img {
            vertical-align: middle;
            width: 1200px;
        }
    </style>
}

<div class="idellifting">
    <div>
        <img src="~/images/pc/face/idellifting01.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/face/idellifting02.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/face/idellifting03.jpg" />
    </div>
    <div>
        <img src="~/images/pc/face/idellifting04.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/face/idellifting05.jpg" />
    </div>
</div>