@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Styles {
    <link href="~/css/pc_introduce.css" rel="stylesheet" />
}

<div class="introduce">
    <img src="~/images/pc/introduce/01.jpg" />
    <img src="~/images/pc/introduce/02.jpg" />
    <img src="~/images/pc/introduce/03.jpg" />
    <img src="~/images/pc/introduce/04.jpg" />
</div>