@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Styles {
    <style type="text/css">
        .ball {
            min-width: 1200px;
        }

        .ball > div {
            text-align: center;
        }

        .ball img {
            vertical-align: middle;
            width: 1200px;
            object-fit: cover;
        }
    </style>
}

<div class="ball">
    <div>
        <img src="~/images/pc/nose/03_title.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/nose/03_1.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/nose/03_2.jpg" />
    </div>
    <div>
        <img src="~/images/pc/nose/03_3.jpg" />
    </div>
    <div style="background-image: url(/images/pc/nose/03_4_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/nose/03_4.jpg" />
    </div>
    <div>
        <img src="~/images/pc/nose/06.jpg" />
    </div>
</div>