@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Styles {
    <style type="text/css">
        .removal {
            min-width: 1200px;
        }

        .removal > div {
            text-align: center;
        }

        .removal img {
            vertical-align: middle;
            width: 1200px;
            object-fit: cover;
        }
    </style>
}

<div class="removal">
    <div>
        <img src="~/images/pc/nose/04_title.jpg" style="width: 100%;" />
    </div>
    <div>
        <img src="~/images/pc/nose/04_1.jpg" />
    </div>
    <div style="background-color: #f9f9f9;">
        <img src="~/images/pc/nose/04_2.jpg" />
    </div>
    <div style="background-image: url(/images/pc/nose/04_3_bg.jpg); background-repeat: repeat-x; background-size: contain;">
        <img src="~/images/pc/nose/04_3.jpg" />
    </div>
    <div>
        <img src="~/images/pc/nose/06.jpg" />
    </div>
</div>